.tieude{
	border-bottom: 4px solid red;
	margin-right: 40px;
}
.tieude h2
{
	color: red;
	background-color: white;
	display: inline-block;
	position: relative;
	top: 32px;
	left: 100px;
	padding-left: 10px;
	padding-right: 10px;

}
.tin{
	margin-top: 20px;
	display: block;
	width: 300px;
	float: left;

}

a{
	text-decoration: none;
	color: grey;
	display: block;
}
img{
	width: 260px;
}
body{
	width: 1200px;
	margin-left: 10px;

}