.banner{
	background-image: url(udemy.jpg);
	height: 100%;
	width: 100%;
	display: flex;
	background-repeat: no-repeat;
	justify-content: center;
	align-items: center;
	background-size: 100% 100%;
	
}

.tieude{
	background-color: rgb(0, 0, 0,0.3);
	width: 400px;
	height: 100px;
	padding: 5px 20px;
}
html{
	height: 100%;
	width: 100%;
}
body{
	height: 100%;
	width: 100%;
}